body {
  background: #dae9e4;
  text-align: center;
  font-family: Helvetica, sans-serif;
}

.container {
  padding: 80px 0px;
  max-width: 800px;
  margin: 0 auto;
  display: block;
}

header {
  background: #e5f5f0;
  margin: 10px 20px;
  padding: 20px;
  border-radius: 14px;
}

h1 {
  font-weight: 600;
  color: #033063;
}

#inputSection {
  background: #e5f5f0;
  margin: 10px 20px;
  padding: 20px;
  border-radius: 14px;
}

#input {
  width: 180px;
  padding: 20px 120px;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
#submitButton {
  padding: 20px 40px;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  color: #e5f5f0;
  background-color: #3f5d7f;
  transition: all 200ms ease-in-out;
}
#submitButton:hover {
  color: #3f5d7f;
  background-color: #fff;
}
#examples {
  color: #3f5d7f;
  font-size: 12px;
  margin: 0 auto;
  padding-top: 10px;
  position: relative;
  right: 180px;
}
.workout-title {
  position: relative;
  left: 150px;
  color: #033063;
}
#workout {
  background: #e5f5f0;
  text-align: left;
  margin: 10px 20px;
  padding: 20px;
  border-radius: 14px;
  color: #01142b;
}

.hide {
  display: none;
}

.text {
  padding-left: 10px;
  position: relative;
  left: 150px;
  border-left: 3px solid #033063;
}

footer {
  color: #3f5d7f;
}

a {
  color: #033063;
}
a:visited {
  color: #450363;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
.blink {
  animation: blink-animation 1s steps(5, start) infinite;
}
